.datashow {
    color: yellow;
    display: grid;
    grid-template-areas:
    'cidade cidade'
    'temperatura temperatura'
    'icone descricao'
    'sensacao sensacao'
    'min max'
    'pressao umidade'
    'vento vento'
    'nascer por';
    background-color: rgb(0, 174, 255);
    padding: 20px;
}

.cidade {
    grid-area: cidade;
    font-size: 1.5em;
    font-weight: bold;
}

.temperatura {
    grid-area: temperatura;
    /*text-align: right;
    margin-right: 32px;*/
}

.icone {
    grid-area: icone;
    /*text-align: left;
    margin-left: 32px;*/
}

.descricao {
    grid-area: descricao;
    /* Soluçao para transformar primeira letra da string em maiúscula, somente com CSS */
    text-transform: capitalize;
}

.sensacao {
    grid-area: sensacao;
}

.min {
    grid-area: min;
}

.max {
    grid-area: max;
}

.pressao {
    grid-area: pressao;
}

.umidade {
    grid-area: umidade;
}

.vento {
    grid-area: vento;
}

.nascer {
    grid-area: nascer;
}

.por {
    grid-area: por;
}